@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  background:none !important;
  color: white;
}

#one-and-only-form {
  margin-top: 30px;
}

.signin-parent {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.signin-container {
  width:80%;
  margin: 150px auto;
}

.join-container {
  width:80%;
  margin: 5% auto;
  background: rgba(255, 255, 255, .01);
  height: 2000%;

  .logo {
    font-size:6vw;
  }

  form {
    color:white;
  }
}

.signin-container .logo {
  font-size:6vw;
}

.signin-container form {
  color:white;
}

.disclaimer-text {
	margin-top: 10px;
	font-size: 10pt;
	font-color: white;
  width: 50%;
}

.modal-link {
	color: #007bff;
}

.modal-link:hover {
	text-decoration: underline;
}

#custom-label {
  font-size: 10pt;
}

.signin-btn {
  background: #E353BB;
  border: solid 1px white;
  border-radius: 10px;
  width: 50%;
  margin: 10px auto;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
}

.signin-btn:hover,
.signin-btn:active,
.signin-btn:visited,
.signin-btn:focus {
    background-color: #951170;
    border-color: white;
};

.signin-btn:not(:disabled):not(.disabled).active, .signin-btn:not(:disabled):not(.disabled):active, .show>.signin-btn.dropdown-toggle {
    background-color: #951170;
    border-color: white;
}

.submit-btn {
  background: rgba(149, 17, 112, .69);
  border: solid 1px white;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 45%;
  font-family: 'Bebas Neue', cursive;
  font-size: 18px;
}

.submit-btn:hover,
.submit-btn:active,
.submit-btn:visited,
.submit-btn:focus {
    background-color: rgba(100, 15, 76, .69);
    border-color: white;
};

.submit-btn:not(:disabled):not(.disabled).active, .submit-btn:not(:disabled):not(.disabled):active, .show>.submit-btn.dropdown-toggle {
    background-color:rgba(100, 15, 76, .69);
    border-color: white;
}

.form-input {
  width: 45%;
  margin: auto auto;
  margin-top: 10px;
}


.help-btn {
  background: #B29BAC;
  border: solid 1px white;
  border-radius: 10px;
  width: 50%;
  margin: 10px auto;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
}

.help-btn:hover,
.help-btn:active,
.help-btn:visited,
.help-btn:focus {
    background-color: #7A6775;
    border-color: white;
};

.help-btn:not(:disabled):not(.disabled).active, .help-btn:not(:disabled):not(.disabled):active, .show>.help-btn.dropdown-toggle {
    background-color: #7A6775;
    border-color: white;
}

// -- Responsive Media Queries -- //

@media only screen and (max-width: 1024px) {
  .game-btn-container > .game-btn {
    width: 100%;
  }

  .disclaimer-text {
    width:100%;
    font-size: 10pt;
  }
}
