@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Shadows+Into+Light+Two&family=Sriracha&display=swap');

.tile {
  position:relative;
  float:left;
  display:flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px;

  &.active {
    background: white !important;
    color: black !important;

    .tile-players {
      filter: brightness(0%);
    }
  }
}

.action {
  color:white;
  // border: 0.6vw solid rgba(255,255,255,0.1); // Light Borders
  border: 0.6vw solid rgba(0,0,0,0.1); // Dark borders

  h1 {
    font-size: 1.3em;
  }
}

.empty {
}

.tile-players {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media only screen and (max-width: 450px) {
  .action {
    border-width: 1.75vw;
  }
}
@media only screen and (min-width: 450px) and (max-width: 850px) {
  .action {
    border-width: 1vw;
  }
}
@media only screen and (min-width: 850px) and (max-width: 1400px) {
  .action {
    border-width: 0.6vw;
  }
}
