.tile {
  position:relative;
  float:left;
  display:flex;
  flex-direction: column;
  justify-content: center;
  outline: 5px black;
  box-sizing: border-box;
  padding: 10px;
  border: 2px solid lime;
}

.action {
  background-color: teal;
  color:white;
}

.empty {

}
