@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Shadows+Into+Light+Two&family=Sriracha&display=swap');

.tile {
  position:relative;
  float:left;
  display:flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px;
}

.action {
  color:white;
  border: 6px solid rgba(255,255,255,0.1);

  font-family: 'Sriracha', cursive;
  font-size: 1.3em;
}

.empty {
}

.tile-players {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
