.tile {
  position:relative;
  width:10vw;
  height:10vw;
  float:left;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.action {
  background: teal;
  color:white;
}

.empty {

}
